<h1>Inicio de PrimeraApp</h1>

<p>
	<%= link_to 'Indice de Usuarios', '/usuarios' %><br>
	<%= link_to 'Indice de Usuarios en json', '/usuarios.json' %><br>
	<%= link_to 'Indice de Microentradas', '/microentradas' %><br>
	<br>
	<%= link_to 'Ayuda', fijas_ayuda_path %><br>
	<%= link_to 'Acerca de nosotras', fijas_acerca_path %><br>
	<%= link_to 'Contacto', fijas_contacto_path %>
</p>