<%= form_for(@microentrada) do |f| %>
	<%= render "compartido/mensaje_error", objeto: f.object %>
	<div class="field">
		<%= f.text_area :contenido, placeholder: "Crea una nueva microentrada..." %>
	</div>
	<%= f.submit "Publicar", class: "btn btn-primary" %>
	<span class="imagen">
			<!-- accept: basado en la Whitelist del modelo Microentrada -->
		<%= f.file_field :imagen, accept: "image/jpeg, image/gif, image/png" %>
	</span>
<% end %>

<script type="text/javascript">
	$('#imagen_microentrada').bind('change', function(){
		var peso_en_mb = this.files[0].size/1024/1024;
		if (peso_en_mb > 5){
			alert('El tamaño máximo de la imagen es de 5MB. Por favor, escoge otra.');
		}
	})
</script>