<% provide(:titulo, "Restablecer contrase単a") %>

<h1>Restablecer contrase単a en Primera App</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@usuario, url: reseteo_password_path(params[:id])) do |f| %>
			<%= render 'compartido/mensaje_error', objeto: f.object %>

			<%= hidden_field_tag :email, @usuario.email %>

			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control' %>

			<%= f.label :password_confirmation, "Confirma la contrase単a" %>
			<%= f.password_field :password_confirmation, class: 'form-control' %>

			<%= f.submit "Actualizar contrase単a", class: 'btn btn-primary' %>
		<% end %>

	</div>
</div>