<p id="notice"><%= notice %></p>

<h1>Microentradas</h1>

<table>
  <thead>
    <tr>
      <th>Contenido</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @microentradas.each do |microentrada| %>
      <tr>
        <td><%= microentrada.contenido %></td>
        <td><%= microentrada.usuario_id %></td>
        <td><%= link_to 'Show', microentrada %></td>
        <td><%= link_to 'Edit', edit_microentrada_path(microentrada) %></td>
        <td><%= link_to 'Destroy', microentrada, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Microentrada', new_microentrada_path %><br>
<%= link_to "Inicio", '/' %>
