<!DOCTYPE html>
<html>
  <head>
    <title><%= tituloCompleto(yield(:titulo)) %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= render 'layouts/cabeceraPorDefecto' %>
    <%= render "layouts/shim" %>
  </head>

  <body>
    <%= render "layouts/cabecera" %>
    <div class="container">
      <% flash.each do |tipo_mensaje, mensaje| %>
        <!--<div class="alert alert-<%= tipo_mensaje %>"><%= mensaje %></div>-->
        <%= content_tag(:div, mensaje, class: "alert alert-#{tipo_mensaje}") %>
      <% end %>
      <%= yield %>
      <%= render "layouts/piePagina" %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
