<!DOCTYPE html>
<html>
  <head>
    <title><%= tituloCompleto(yield(:titulo)) %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= render 'layouts/cabeceraPorDefecto' %>
    <%= render "layouts/shim" %>
  </head>

  <body>
    <%= render "layouts/cabecera" %>
    <div class="container">
      <%= yield %>
      <%= render "layouts/piePagina" %>
    </div>
  </body>
</html>
